<div class="basket">
  <h1>Your basket Contains the following products</h1>
  <div class="basket__products">
    <app-basket-product
      *ngFor="let product of products"
      [product]="product"
    ></app-basket-product>
  </div>
  <div class="product__summary">
    <p><span> Product </span> <span>Price</span></p>
    <p *ngFor="let product of products">
      <span> {{ product.name }} </span> <span>$ {{ product.price }}</span>
    </p>
    <p>
      <span> Total Price </span>
      <span
        ><strong>{{ totalProducts }} product(s)</strong></span
      >
      <span>$ {{ totalPrice }}</span>
    </p>
    <div class="product__summary__controls">
      <button>Buy</button><button (click)="clearBasket()">Clear Cart</button>
    </div>
  </div>
</div>
